/* Dark Mode General */
body.dark-mode, body.dark-mode footer {
  background-color: #110031;
  color: #e0e0e0;
}

body.dark-mode header {
  background-color: #000000;
  color: #dfdbe8;
}

body.dark-mode nav a {
  color: #dfdbe8;
}

body.dark-mode .hero {
  background: linear-gradient(to right, #22044b, #3a3c91);
  color: white;
  padding: 60px 20px;
  text-align: center;
}

body.dark-mode .btn {
  background-color: #07022a;
  color: #fff;
  border: 1px solid #000000;
}

body.dark-mode .hero .btn:hover {
  background: #0b0b3f;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode button {
  background-color: #000000;
  color: #fff;
  border: 1px solid #000000;
}

body.dark-mode .product {
  background-color: #26094d;
  border-color: #ffffff;
}

body.dark-mode .products h2 {
  color: #ffffff;
}

body.dark-mode select {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #dbd3e4;
}

/* Dark Login */
body.dark-mode main.container {
  background: linear-gradient(to right, #170431, #03043b);;
}

body.dark form#login-form button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

body.dark form#login-form button:hover {
  background-color: #0c0620;
}

body.dark-mode form#login-form input {
  background-color: #160329;
  color: rgb(255, 255, 255);
  border: 1px solid #000000;
}

body.dark-mode form#login-form label {
  color: #fdfdfd;
}

body.dark-mode  #login-form {
  border-color: #030335;
}

body.dark-mode #login-status {
  color: #ccc;
}

body.dark #togglePassword {
  color: #ffffff;
}

body.dark main.container h2 {
  color: #fcf4f4;
}

body.dark, body.dark footer {
  background-color: #110031;
  color: #e0e0e0;
}

.light-mode, body.light-mode footer {
  background-color: #ffffff00;
  color: #ffffff;
}

body.dark header {
  background-color: #000000;
  color: #dfdbe8;
}

/* Cart Dark */
body.dark #cart-container {
  background-color: #0a1614;
  box-shadow: 0 4px 12px rgba(30, 28, 28, 0.1);
}

body.dark #cart-items li {
  background: #323232;
}

body.dark .removeBtn {
  background-color: #2b0764;
  color: white;
}

body.dark .removeBtn:hover {
  background-color: #0f0343;
}

body.dark #checkoutBtn {
  display: block;
  width: 100%;
  background-color: #000000;
  color: white;
  font-size: 16px;
}

body.dark #checkoutBtn:hover {
  background-color: #160329;
}

/*Profile*/
body.dark-mode .profile-card {
  background: linear-gradient(to bottom right, var(--card-bg, #000000), #2e1447a6);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 400px;
  text-align: center;
  width: 100%;
}

.dark-mode .container1 {
  background-color: #0f0f20;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.dark-mode #cart-container {
  background-color: #030335;
}

.dark-mode #cart-items li{
  background-color: #202049;
}

.dark-mode .sub-menu-wrap {
  background: rgb(0, 0, 0);
  border: 1px solid #1c0435;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 100;
}

.dark-mode .sub-menu a:hover {
  background: #4747587a;
}

.dark-mode .sub-menu h2 {
  color: rgb(223, 219, 232)
}

body.dark-mode main.profile-page::before {
  filter: blur(15px) brightness(0.3);
}
